.questions{
  display: none;
}

#submit_answers{
  display: none;
}

.input_questions{
  display: none;
}

.input_choices{
  display: none;
}

#finish_survey{
  display: none;
}

#new_question{
  display: none;
}

#question_1{
  border: dotted;
}

#question_2{
  border: dotted;
}
