<ul>
  <form class="login-form" action="/login" method="post">
    <li>
      <input class="form-field user-email" type="text" name="user[email]" placeholder="your email" autofocus>
    </li>
    <li>
      <input class="form-field user-password" type="password" name="user[password]" placeholder="your password">
    </li>
    <li>
      <input class="form-field btn btn-primary" type="submit" value="login">
    </li>
  </form>
</ul>
