<section class="profile content">
  <h1 class="welcome alt-col">hi, <%= @user.name %></h1>
  <ul class="profile-btns">
      <a class="" href="/users/<%= @user.id%>/surveys/create">
        <li class="btn btn-primary btn-profile" >
            <p class="alt-col">create a survey</p>
        </li>
      </a>
      <a class="" href="/users/<%= @user.id%>/surveys">
        <li class="btn btn-primary btn-profile" >
            <p class="alt-col">view my surveys</p>
        </li>
      </a>
      <a class="" href="/surveys">
        <li class="btn btn-primary btn-profile" >
            <p class="alt-col">take a survey</p>
        </li>
      </a>
  </ul>
</section>
