<h1 class="welcome">Welcome <%= @user.name %></h1>
<ul>
  <li><a class="btn" href="/users/<%= @user.id%>/surveys/create">Create a new survey</a></li>
  <li><a class="btn" href="/users/<%= @user.id%>/surveys">View surveys I've taken</a></li>
  <li><a class="btn" href="/surveys">Take a new survey</a></li>
</ul>
