 <form id="the_submit" action="/signup" method="post">
    <label>sign up</label>
    <input type="text" name="user[name]" placeholder = "Name"><br>
    <input id="email" type="text" name="user[email]" placeholder = "Email"><br><p id="hidden"></p>
    <input type="password" name="user[password]" placeholder = "Password"><br>
    <input type="submit" value"Submit!">
  </form>
 