<section>
  <ul class="surveys">
    <% @surveys.each do |survey| %>
    <li>
      <h3><a href="/users/<%= @user.id %>/surveys/<%= survey.id %>/results"><%= survey.title %></a></h3>
    </li>
    <% end %>
  </ul>
</section>
