
<form class="create-survey-form" action="/users/<%= @user.id %>/surveys/create" method="post">

<input name="question[<%= counter%>]" type="text" placeholder = 'question_<%= counter%>'>
<input type="submit" value="submit">
<% @counter += 1 %>
<% end %>

</form>
