<section class="create-survey-section">

  <form class="create-survey-form" action="/users/<%= @user.id %>/surveys/create" method="post">
    <input class="form-field survey-title" name="survey[title]" type="text" placeholder="survey name here" autocomplete="off">
    <input class="form-field" name="survey[url]" type="text" placeholder="Include an optional image" autocomplete="off">
    <article class="question-container">
    	<input id="question1" class="form-field" name="questions[question_1][question]" type="text" placeholder="ask a question">
    	<ul class="question-end">
    		<li>
    			<span class="btn btn-primary add-choice">add a choice</span>
    		</li>
    		<li>
    			<span class="btn btn-secondary rm-question">remove this question</span>
    		</li>
    	</ul>
    </article>
    
    <ul class="survey-end content">
    	<li>
    		<span class="btn form-field btn-primary" id='add-question'>add a question</span>
    	</li>
    	<li>
    		<input class="btn form-field btn-primary submit-survey" type="submit" value="i'm done with this">
    	</li>
    </ul>
  </form>
  
</section>