<section class="create-survey-section">

  <form class="create-survey-form" action="/users/<%= @user.id %>/surveys/create" method="post">
    <input class="form-field user-email survey-title" name="survey[title]" type="text" placeholder="survey name">
    <span class="btn btn-primary" id='add-question'>add a question</span>

    <input class="btn btn-primary submit-survey" type="submit" value="i'm done with this">
  </form>
  
</section>