<section class="survey-results">
  <h1><%= @survey.title %></h1>
  <% @survey.questions.each do |question| %>
    <h2 class="question"><%= question.question %></h2>
    <ul>
      <% question.results(@survey).each do |choice_string, choices_array| %>
      <li>
        <h3><%= choice_string %></h3>
        <p><%= (choices_array.length / question.data(@survey).length.to_f) * 100 %>%</p>
      </li>
      <% end %>
    </ul>
  <% end %>
</section>
