<form action="/surveys/create" method="post">
  <label for='title'>What is this survey called?</label>
  <input name="survey[title]" type="text" placeholder="survey title" autofocus>

  <label for="question1">question</label>
  <input name="question1[question]" type="text">
  <% (1..4).each do |choice_num| %>
    <input name="question1[choice<%= choice_num %>]" type="text">
  <% end %>

  <label for="question2">question</label>
  <input name="question2[question]" type="text">
  <% (1..4).each do |choice_num| %>
    <input name="question2[choice<%= choice_num %>]" type="text">
  <% end %>

  <label for="question3">question</label>
  <input name="question3[question]" type="text">
  <% (1..4).each do |choice_num| %>
    <input name="question3[choice<%= choice_num %>]" type="text">
  <% end %>

  <input type="submit" value="submit">
</form>
