<form class="login-form" action="/login" method="post">
  <label>log in</label>
  <input type="text" name="email" placeholder = "Email">
  <input type="password" name="password" placeholder = "Password">
  <input type="submit" value="Login">
</form>

<a class="btn" href="/signup">sign up</a>
