<form class="login-form" action="/login" method="post">
  <label>log in</label>
  <input type="text" name="user[email]" placeholder = "your email">
  <input type="password" name="user[password]" placeholder = "your password">
  <input type="submit" value="Login">
</form>

<a class="btn" href="/signup">sign up</a>
