<form action="/" method="post">
   Sign In:
    <br>
    <input type="text" name="email" placeholder = "Email"><br>
    <input type="password" name="password" placeholder = "Password"><br>
    <input type="submit" value="Login">
  </form>

  <br>
  <form action="/register">
    Register<br>
    <input type="submit" value = "Click to Register">
  </form>
