
<section class="welcome inner content">
	<h1 class='brand inner'><span class="alt-col">Survey</span> Patriot</h1>
  <h2 class="tag-line content inner">
    because gathering data is what Uncle Sam does best
  </h2>
  <% if @logged_in %>
  <a class="btn btn-primary tag-btn" href="/users/<%= @logged_in %>/surveys/create">create a survey</a>
  <% else %>
  <a class="btn btn-primary tag-btn signup" href="">get started in minutes</a>
  <% end %>
  <a class="btn btn-secondary tag-btn" href="/surveys">take a survey</a>
  <iframe class="hidden" src="//www.youtube.com/embed/_HHszKElVdk?autoplay=1"></iframe>
  <iframe class="hidden" src="//www.youtube.com/embed/LINsNCaxZ5U?autoplay=1"></iframe>
  <div id="eagle"><img src="/images/eagle.png"></div>
</section>
