<section class="">
	<h1><span class="alt-col">Survey</span> Patriot</h1>
	<h3>'Murica!</h3>
	<img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/t1.0-9/10369167_831642045688_4526500114869991887_n.jpg" alt="America Baby"/>


</section>
