<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Raleway:400,700|Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/shoelace.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/msg.js"></script>

  <title></title>
</head>
<body>

  <section class="msg">
    <div class="modal login-form-modal hidden">
      <ul>
      <form action="/login" method="post">
        <li>
          <input class="form-field" type="text" name="user[email]" placeholder="your email" autofocus>
        </li>
        <li>
          <input class="form-field" type="password" name="user[password]" placeholder="your password">
        </li>
        <li>
          <input class="form-field login-btn btn btn-primary" type="submit" value="log in">
        </li>
      </form>
      </ul>
    </div>
  </section>

  <header>
    <ul class="nav">
      <% unless @logged_in %>
      <li>
        <a class="signup btn btn-header btn-secondary" href="/signup">sign up</a>
      </li>
      <% end %>
      <li>
        <a class="btn" href="/">home</a>
      </li>
      <li>
        <a class="btn" href='/users/<%="#{session[:id]}"%>'>my profile</a>
      </li>
      <% if @logged_in %>
      <li>
        <a class="btn btn-header btn-primary" href="/logout">log out</a>
      </li>
      <% else %>
      <li>
        <a class="login btn btn-header btn-primary" href="#">log in</a>
      </li>
      <% end %>
    </ul>
  </header>

  <%= yield %>
</body>
</html>


