<h1 class="welcome">Welcome<%= @user.name %></h1>
<ul>
  <li><a class="btn" href="/users/<%= @user.id%>/surveys/create">Create</a></li>
  <li><a class="btn" href="/users/<%= @user.id%>/surveys">View</a></li>
  <li><a class="btn" href="/surveys">Take</a></li>
</ul>
