<h1>Welcome<%= @user.name %></h1>
<ul>
  <li><a class="btn" href="/user/<%= @user.id%>/surveys/create">Create</a></li>
  <li><a class="btn" href="/user/<%= @user.id%>/surveys">View</a></li>
  <li><a class="btn" href="/surveys">Take</a></li>
</ul>
